**/*.cert
**/*.gpg
**/*.jks
**/*.key
**/*.keystore
**/*.p12
**/*.pem
**/*.tfvars
**/*credentials*
**/*id_rsa*
**/*password*
**/*secret*
**/*token*
**/.env.*
**/aws_credentials
**/secrets/
**/terraform.tfstate*
**/wp-config.php
.claude/settings.local.json
.env
.env.*
.scannerwork/
/config/env/
id_rsa
!**/*.json
!**/.env.example
!**/docs/
!.env.example
!/docs/**
!/features/**
!/memory-bank/**
